.pane {
    -fx-background-color: "#b0c4de";
}

.anchored-pane {
    -fx-background-color: "#d4ebf2";
}

.titled-pane {
    -fx-background-color: transparent;
    -fx-border-color:  transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}


.text-field-title {
    -fx-text-fill: white;
    -fx-background-color: "#00008b";
}

.text-field-cash {
    -fx-background-color: transparent;
    -fx-border-color:  transparent;
    -fx-text-font: "Arial Narrow";
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.button-cashin {
    -fx-background-color: "#000080";
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color:  transparent;
    -fx-text-font: "Arial";
    -fx-font-color: white;
}

.button-magis {
    -fx-background-color: transparent;
}

.button-canteen {
    -fx-background-color: transparent;
}

.button-return{
    -fx-background-color: transparent;
}

.header-bar {
    -fx-background-color: #1F4387;      /* deep blue */
    -fx-background-radius: 10;          /* rounded corners */
    -fx-padding: 5 15 5 15;             /* inner spacing */
}

.header-bar .label {
    -fx-text-fill: white;               /* white text */
    -fx-font-weight: bold;
}

.balance-header {
    -fx-background-color: #2B5DBD59;
    -fx-background-radius: 10;
    -fx-padding: 5 15 5 15;
}

.product-pane {
    -fx-background-color: #D4EBF2;
    -fx-background-radius: 10;
    -fx-padding: 5 15 5 15;
}

.rounded-img-avail {
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-border-color: #00AC09;
    -fx-border-width: 3;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 20;
    -fx-overflow: hidden; /* this does NOT exist in JavaFX */
}

.rounded-img-unavail {
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-border-color: #AB2000;
    -fx-border-width: 3;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 20;
    -fx-overflow: hidden;
}

.header-text{
    -fx-text-fill: #1F4387;
    -fx-font-weight: bold;
}

.product-name {
    -fx-text-fill: #1F4387;
    -fx-font-weight: bold;
}

.product-text{
    -fx-text-fill: #1F4387;
}

